@charset "utf-8";
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;overflow-x:hidden;overflow-y:auto}
html,body{min-height:100%}
body{font-family:'NanumBarunGothic','NanumBarunGothicBold',dotum,'돋움',gulim,'굴림',Arial,AppleGothic,verdana,sans-serif,helvetica;font-size:14px;line-height:1.42857143;color:#111;background-color:#fff;margin:0;padding:0 !important}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{color:#000;background-color:transparent;text-decoration:none}
a:hover{text-decoration:underline}
a,a:focus,a:hover,a:active{outline:0}
label{cursor:pointer}
abbr[title]{border-bottom:1px dotted}
dfn{font-style:italic}
mark{color:#000;background:#ff0}
small{font-size:80%}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0;vertical-align:top}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{margin:0;font:inherit;color:inherit}
button{overflow:visible;background:none;border:0;margin:0;padding:0;cursor:pointer}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input{line-height:normal}
input:-webkit-autofill{color:#ffffff!important}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;display:inline-block;cursor:pointer;width:15px;height:15px;border:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
input:-ms-input-placeholder, textarea:-ms-input-placeholder{color:#888}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color:#888}
input::-moz-placeholder, textarea::-moz-placeholder{color:#888}
iframe,fieldset{border:0;margin:0;padding:0}
legend{padding:0;border:0}
textarea{overflow:auto;resize:none}
textarea,input,button,*:focus{outline:none!important}
select{border:2px solid #E5E7E9;border-radius:6px;height:46px;padding:12px;outline:none}
optgroup{font-family:'NanumBarunGothicBold'}
table{border-spacing:0;border-collapse:collapse}
td,th{padding:0;margin:0}
ul,li{list-style:none;padding:0;margin:0}
dl,dt,dd{padding:0;margin:0}
p{display:block;-webkit-margin-before:0;-webkit-margin-after:0;-webkit-margin-start:0;-webkit-margin-end:0;margin:0;padding:0}
h1,h2,h3,h4,h5,h6{color:#333;font-weight:300;letter-spacing:-1px;margin:0;padding:0}
em,i,address{font-style:normal}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
